.App {
	text-align: center;

	.form-input {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.remove-button {
		border: none;
		background: none;
		text-align: left;
	}
	
	@media screen and (min-width: 635px) {
	.population {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 0.25fr;
		border: 1px solid;

		.attribute {
			border-right: 1px solid gray;
			padding: 2px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
}
