.App {
	text-align: center;

	.form-input {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	table {
		margin: auto;
		border-collapse: collapse;

		th {
			border: 1px solid;
		}

		td {
			border: 1px solid;
		}
	}
}
